*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body,
html {
  width: 100%;
}

body {
  background: url("./components/images/dictionary.jpg") no-repeat center;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  font-family: "Noto Serif", serif;
}

.header {
  padding: 0;
  max-width: 960px;
  margin: 0 auto;
}

.header-h1 {
  padding-top: 280px;
  padding-left: 400px;
  font-weight: bold;
}

.header-h3 {
  padding-left: 400px;
}

video {
  width: 100%;
  object-fit: cover;
  border-radius: 8px;
}

header {
  position: absolute;
  text-align: center;
}

.app {
  padding: 60px 0 100px;
  max-width: 960px;
  margin: 0 auto;
}

.logo {
  max-width: 200px;
  display: block;
  margin: 30px auto;
}
.main-result {
  max-width: 960px;
  margin: 0 auto;
}

.search {
  max-width: 960px;
  margin: 0 auto;
}

section {
  box-shadow: 0 30px 50px rgba(65, 50, 100, 0.08);
  border-radius: 8px;
  background: rgba(221, 221, 221, 0.9);
  margin-top: 10px;
  padding: 40px;
}
a {
  color: #6c63ff;
}

.search label {
  font-weight: 600;
  font-style: normal;
  font-size: 24px;
  margin-bottom: 20px;
  display: block;
  line-height: 29px;
}

.search .hint {
  margin-top: 15px;
  display: block;
}

.result h1 {
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 43px;
  color: #000;
}

.phonetic {
  margin: 20px 0 0;
}

.phonetic h2 {
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  color: #666;
  display: inline;
}

.phonetic a {
  font-weight: 400;
  margin-right: 15px;
  font-size: 14px;
  line-height: 17px;
  padding: 8px 18px;
  border: 1px solid #ddd;
  border-radius: 50px;
  text-decoration: none;
}

.phonetic .audio {
  padding-top: 10px;
  width: 100%;
  opacity: 0.5;
}
.meaning {
  padding-top: 10px;
  padding-bottom: 10px;
}

.meaning p {
  font-size: 14px;
  line-height: 17px;
  color: #000;
  margin: 20px 0 10px;
}

.meaning em {
  font-size: 13px;
  line-height: 15px;
  color: #666;
}

footer {
  text-align: center;
  margin-top: 20px;
  font-size: 13px;
}

.photos img {
  border-radius: 6px;
  margin: 10px 0;
}

.synonym-antonym-p {
  font-size: 15px;
  line-height: 15px;
  color: rgb(0, 0, 0);
  font-weight: bold;
  margin: 10px;
}

.synonyms-antonyms {
  column-count: 3;
  column-gap: 20px;
  column-rule: 4px dotted rgb(232, 237, 231);
}

.synonyms-antonyms ul {
  margin: 10px;
}
